## Local configurations
tradebot.py

# Virtual environments
.venv
env/
venv/

# Environment variables
.env



## Editors

# PyCharm
.idea



## Operating system specific

# Mac
.DS_Store


## Storages

# Sqlite
*.sqlite
*.sqlite3
*.sqlite-*
*.sqlite3-*

# Databases dumps
dump.sql

# Volumes
.data/
user_data/*
!user_data/strategies
!user_data/config.json



## Log files
*log



## Kubernetes configmaps
infra/configmaps.yaml



## Python stuff

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
.coverage.*

# Hypothesis
.hypothesis/

# tox
.tox
*.egg-info
